<%= form_with(model: post, local: true, class: "sell-form dropzone", id: "item-dropzone") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <h3>出品画像</h3>

  <%= form.fields_for :post_images do |image| %>
    <div class="dropzone-container clearfix">
      <div id="preview"></div>
      <div class="dropzone-area">
        <%= image.label :image, class: "dropzone-box", for: "upload-image" do %>
          <div class="input_area">
            <%= image.file_field :image, multiple: true, name: "post_images[image][]", class: "upload-image", id: "upload-image", 'data-image': 0, accept: "image/*, video/*" %>
          </div>
          <p><i class="fa fa-camera fa-2x"></i></p>
        <% end %>
      </div>

      <div id="preview2"></div>
      <div class="dropzone-area2" style="display: none;">
        <%= image.label :image, class: "dropzone-box", for: "upload-image" do %>
        <p><i class="fa fa-camera fa-2x"></i></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
