<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<h2 style="text-align: center; color: red;">Image</h2>
<!--
  link_to @post.image.url do
    image_tag(@post.image.url(:screenshot), id: 'image', alt: 'screenshot')
  end
-->
<p>
  <% @post_images.each do |image| %>
    <%= link_to image.image.url do %>
      <%= image_tag(image.image.url(:screenshot), id: 'image') %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
